.book-categories-container {
    display: flex;
    align-items: center;
  }


  .book-categories-select {
    margin-right: 10px;
  }


  @media (max-width: 576px) {
    .book-categories-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .book-categories-select {
        margin-right: 0;
        margin-top: 5px;
    }
}

